ul#countdown {
  position: relative;
  margin: 0 auto;
  padding: 15px 0 20px 0;
  color: #000;
  overflow: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
ul#countdown li {
  margin: 0 10px 0px 10px;
  padding: 0;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
ul#countdown li .label {
  color: #adafb2;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: regular;
}